{% extends "expo/base.html" %}
{% block title %}Comiket 88{% endblock %}
{% block main %}
<div class="container">
<div class="row">
<div class="col-md-9">
    {% if tag_query %}
    <h1 class="page-header">{{ tag_query }} <small>Results</small></h1>
    {% else %}
    <h1 class="page-header">Comiket 88 <small>just buy</small></h1>
    {% endif %}
    <div class="row" style="margin-bottom:32px">
        {% for booth in booths %}
        <div class="col-md-4"><a href="{% url 'booth_detail' booth.id %}" class="thumbnail">
            <img data-toggle="tooltip" data-placement="bottom" title="{{ booth.circle }}" src="{{ booth.logo.url }}"/>
        </a></div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row" style="margin-bottom:32px">
        {% endif %}
    {% endfor %}
    </div>
</div>
<div class="col-md-3">
    <h1 class="page-header">tags</h1>
    <div class="input-group" style="margin-bottom:10px">
        <input type="text" class="form-control" placeholder="search tag">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">go</button>
        </span>
    </div>
    <div class="list-group">
        {% for tag in tags %}
        <a href="{% url 'tag_id' tag_id=tag.id %}" class="list-group-item">{{ tag.name }}</a>
        {% endfor %}
    </div>
    {% if tag_query %}
    <div>
        <a class="btn btn-primary" href="{% url 'index' %}">Back to Index</a>
    </div>
    {% endif %}
</div>
</div>
</div>
{% endblock %}
{% block footer_extra %}
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}
