{% extends "expo/base.html" %}
{% block title %}Comiket 88{% endblock %}
{% block main %}
<div class="container">
<div class="row">
<div class="col-md-9">
    {% if tag_name %}
    <h1 class="page-header">Results <small>{{ tag_name }}</small></h1>
    {% else %}
    <h1 class="page-header">Comiket 88 <small>just buy</small></h1>
    {% endif %}
    <div class="row">
        {% for booth in booths %}
        <div class="col-md-4"><a href="#" class="thumbnail">
            <img src="{{ booth.logo.url }}"/>
        </a></div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
    </div>
    {% endfor %}
</div>
<div class="col-md-3">
    <div class="list-group">
        {% for tag in tags %}
        <a href="#" class="list-group-item">tag.name</a>
        {% endfor %}
    </div>
</div>
</div>
</div>
{% endblock %}
